.project-card {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px black;
    transition: transform 0.2s;
}
.project-card:hover {
    transform: scale(1.05);
}
.project-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: palevioletred;
}
.project-description {
    color: blue;
    font-size: large;
}